%h2 Sign in
.form-group.has-success
  = flash[:notice]
.login-screen
  .login-icon
    %img{src: image_path("streaming.png")}
    %h4
      Welcome to
      %small
        SSlide
  .login-form
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-group
        = f.text_field :username, :autofocus => true, :class => "form-control login-field", :placeholder => "Enter your email"
      .form-group
        = f.password_field :password, :class => "form-control login-field", :placeholder => "Enter your password"
      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me, "data-toggle" => "checkbox"
          = f.label :remember_me
      %div= f.submit "Sign in", class: "btn btn-info btn-block"
    .login-link
      = render "devise/shared/links"
