= stylesheet_link_tag :sign_in
.login-screen
  %h2 サインイン
  .login-icon
    =image_tag "app_logo.png", class: :logo
    %h5 Welcome to SSlide
  = form_for resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}  do |f|
    .form-group.has-success
      = flash[:notice]
    .form-group
      = f.text_field :username, :autofocus => true, :class => "form-control login-field", :placeholder => "Enter your email"
    .form-group
      = f.password_field :password, :class => "form-control login-field", :placeholder => "Enter your password"
    .btn-submit
      = f.submit "Sign in", class: "btn btn-info"
