.row
  %h1
    = title(@slide)
    %meta{id: "slide_info", |
      "data-prefix" => prefix(@slide), |
      "data-suffix" => suffix(@slide), |
      "data-totalpage" => pages(@slide), |
      "data-id" => slide_id(@slide)}

    %meta{id: "streaming_info", |
      "data-eventserver" => event_server_url, |
      "data-hostname" => current_user_name, |
      "data-channel" => channel}

  #loading
    %img{src: image_path("loading.gif"), width: "100px", height: "100px"}

  #player-container
    .main_player
      .header.primary_color
        #fullscreen_btn
      #player_container.player
        %img#current_slide{src: first_page(@slide)}
        %canvas#drawing_canvas.covering_canvas
      .footer.primary_color
        .controls
          .prev.control_btn
          .next.control_btn
        .player_progress_container
          .player_progress{style: "width: #{100 / pages(@slide)}%;"}

    .slide_controller
      .slide_control_panel
        .slide_streaming.control_button
          %a.streaming_button{href: "#"}
            %img{src: image_path("streaming.png"), width: "50px", height: "50px"}
        .slide_drawing.control_button
          %a.drawing_button{href: "#"}
            %img{src: image_path("pen.png"), width: "50px", height: "50px"}
        .slide_clear.control_button
          %a.clear_button{href: "#"}
            %img{src: image_path("eraser.png"), width: "50px", height: "50px"}

    %a#slide_controller_display{href: "#"}
      %img{src: image_path("gear.png"), width: "80px", height: "70px"}

= stylesheet_link_tag "slide"
= stylesheet_link_tag "jquery.gritter"
= javascript_include_tag "streaming"
= javascript_include_tag event_server_js_file

:javascript
  (function($) {
    $(document).ready(function() {
      var slideInfo = $("#slide_info");
      var slideImagePrefix = slideInfo.data("prefix");
      var slideImageSuffix = slideInfo.data("suffix");
      var slideImageNum = slideInfo.data("totalpage");

      player = new SlidePlayer(slideImagePrefix, slideImageSuffix, slideImageNum);
      player.preload();

      streamingController = new StreamingController(".streaming_button", ".drawing_button", ".clear_button")
      streamingController.binding();

      var streaming_info = $("#streaming_info");
      var username = streaming_info.data("hostname");

      window.publisher = false;

      $("#fullscreen_btn").on("click", function(e) {
        player.fullScreen("#player_container");
      });


      $(".next").on("click", function (e) {
        player.next();
        if (window.publisher) {
          window.publisher.move(username, player.currentPage);
        }
        e.preventDefault();
      });

      $(".prev").on("click", function (e) {
        player.prev();
        if (window.publisher) {
          window.publisher.move(username, player.currentPage);
        }
        e.preventDefault();
      });
    });
  })(jQuery);
