!!!
%html
  %head
    %title S2
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = stylesheet_link_tag controller.controller_name
    = javascript_include_tag controller.controller_name
    = stylesheet_link_tag :main
    = analytics_init if Rails.env.production?

  %body
    .navbar
      .navbar-inner
        .container
          - if user_signed_in?
            = link_to image_tag('app_logo.png'), home_index_path, class: :brand
          - else
            = link_to image_tag('app_logo.png'), root_path, class: :brand
          %form#search-form{action: "/streaming/search"}
            %input.form-control#search-input{name: 'channel', type: "text", "placeholder" => "Search.."}
          %ul.nav.navbar-nav.pull-right.active
            = yield :question_link
            - if user_signed_in?
              %li= current_user.username
              %li=link_to "ログアウト",  destroy_user_session_path,  method: :delete
            - else
              %li
                =link_to "ログイン",  new_user_session_path

    .container
      = yield

    %footer
      %p &copy; Company 2013
