!!!
%html
  %head
    %title S2
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .navbar
      .navbar-inner
        .container
          - if user_signed_in?
            = link_to "S2", home_index_path, class: :brand
          - else
            = link_to "S2", root_path, class: :brand
          %ul.nav.navbar-nav.pull-right.active
            - if user_signed_in?
              %li= current_user.username
              %li=link_to "ログアウト",  destroy_user_session_path,  method: :delete
            - else
              %li
                =link_to "ログイン",  new_user_session_path

    .container
      = yield

    %footer
      %p &copy; Company 2013
